#wrapper {
  height: 100vh;
  display: flex;
  background-color: #344A71;
}
#quote-box {
  width: 600px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 20px;
}
#text{
  text-align: center;
  padding: 20px;
  font-family: 'Caveat', cursive;
  font-size: 35px;
}
#author{
  text-align: right;
  padding: 10px;
}
#bottom-row{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus{
  background-color: #44a7e8 !important;
  border: none !important; 
}
.btn-primary:hover {
  background-color: #44a7e8 !important;
  border: none !important;
  opacity: 0.9 !important;
}